html, body, h1, h3, ul, li, button, input, datalist {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
    font-size: 36px;
    margin: 20px 0;
    color: #333;
}

.input-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

/* Input styles */
#symptomInput {
    padding: 12px; 
    margin: 5px;
    flex: 3; 
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px; 
    width: 90%; 
}

/* Buttons styles */
#addSymptomButton, #refreshButton {
    padding: 10px 25px; 
    margin: 5px;
    cursor: pointer;
    color: white;
    border: none;
    border-radius: 4px;
    width: auto; 
    flex: 1; 
    height: 45px; 
    font-size: 14px; 
}

#addSymptomButton {
    background-color: #4CAF50; 
}

#refreshButton {
    background-color: #FF0000; 
}

/* Main content container */
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Section headings */
h3 {
    margin-top: 20px;
    font-size: 24px;
    color: #007bff;
}

/* Symptom list */
#selectedSymptoms {
    list-style-type: none;
    margin-bottom: 20px;
}

#predictButton {
    padding: 10px 25px; 
    margin: 5px;
    cursor: pointer;
    color: white;
    border: none;
    border-radius: 4px;
    width: auto; 
    flex: 1; 
    height: 45px; 
    font-size: 14px; 
    background-color: #4CAF50; 
}

#diseasePrediction, #diseaseDescription, #diseaseCures {
    width: 100%;
    max-width: 600px; 
    margin: 0 auto; 
}


