<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Illness Predictor</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1>Illness Predictor</h1>
    
    <div class="input-container">
        <input type="text" id="symptomInput" list="symptomsList" placeholder="Search">
        <button type="button" id="addSymptomButton">Add</button>
        <button id="refreshButton">Clear</button>
    </div>
    
    <datalist id="symptomsList">
        <!-- List of symptoms -->
    </datalist>

    <div>
        <h3>Selected Symptoms:</h3>
        <ul id="selectedSymptoms"></ul>
    </div>

    <button type="button" id="predictButton">Predict Illness</button>

    <br>

    <div id="diseasePrediction">
        <!-- disease prediction -->
    </div>

    <br>

    <div id="diseaseDescription">
        <!-- disease Description -->
    </div>

    <br>

    <div id="diseaseCures">
        <!-- disease cures -->
    </div>

    <script src="../static/javascript.js"></script>
</body>
</html>
