<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Symptom Checker</title>
</head>
<body>
    <h1>Symptom Checker</h1>

    <input type="text" id="symptomInput" list="symptomsList" placeholder="Search for a symptom">
    <datalist id="symptomsList">
        <!-- List of symptoms -->
    </datalist>

    <button type="button" id="addSymptomButton">Add Symptom</button>

    <button id="refreshButton">Clear Symptoms</button>

    <div>
        <h3>Selected Symptoms:</h3>
        <ul id="selectedSymptoms"></ul>
    </div>

    <button type="button" id="predictButton">Predict Illness</button>

    <div id="diseasePrediction">
        <!-- disease prediction -->
    </div>

    <script src="../static/javascript.js"></script>
</body>
</html>
